html {
    max-width: 1440px;
    max-height: 880px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.conntainer {
    max-width: 1260px;
    max-height: 880px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.logo {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.nav {
    text-align: center;
    font-family: "Microsoft YaHei Bold";
    margin-top: 8px;
    width: 1260px;
    position: relative;
    text-align: -webkit-center;
}

.nav-list {
    border-radius: 20px;
    background-color: #f0ebe4;
    display: flex;
    margin: 0px;
    padding: 0;
}

.nav-list-item {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    text-align: center;
}

#item4 {
    font-size: 20px;
}

.nav-list-item+.nav-list-item {
    margin-left: 20px;
}

.nav-list-item:hover .nav-sublist {
    display: block;
}

.nav-list-item-link {
    display: block;
    color: #c75431;
    font-size: 20px;
    padding-right: 10px;
    text-decoration: none;
    padding: 10px 20px;
    border-bottom: none;
}

.nav-list-item:hover {
    background-color: cornsilk;
    color: rgba(77, 7, 7, 0.753);
    box-shadow: 0 3px 0px 0;
    border-radius: 20px;
}

.super {
    width: 1000px;
    padding-left: 80px;
}

.pg1bd2 {
    padding-left: 80px;
}

.pg1hd {
    margin: 0 auto;
    text-align: -webkit-center;
}

.pg1bd3 {
    display: flex;
}

.pg1bd3 div {
    margin: auto;
}

.yay {
    display: flex;
    padding-top: 50px;
}

.soo {
    flex: 1;
    margin: 0;
    padding-top: 0;
    font-size: 50px;
    color: rgb(9, 95, 74);
    text-align: center;
}

#bag {
    font-size: 50px;
    color: rgb(17, 40, 168);
}

.aya {
    display: flex;
}

.chi {
    flex: 1;
    margin: 0;
    font-size: 50px;
    text-align: center;
    color: rgb(232, 235, 81);
}

#chic {
    margin: 0;
    font-size: 50px;
    color: rgb(133, 16, 16);
}

.pg1bd4 {
    padding-left: 80px;
    display: flex;
}

.pg1bd2 h2 {
    text-align: center;
    font-size: 50px;
}

.sofa {
    flex: 1;
    width: 400px;
    height: 500px;
}

#bed {
    width: 400px;
    height: 500px;
}

.mini {
    width: 400px;
    height: 500px;
}

#chair {
    width: 400px;
    height: 500px;
}

.bd4 {
    flex: 1;
}

#dian {
    width: 500px;
    height: 500px;
}

.ad {
    width: 1000px;
}

.happy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.line {
    margin-top: 50px;
    padding-top: 1px;
    background-color: gray;
    height: 2px;
}

.word h2 {
    color: rgb(175, 97, 24);
    text-align: center;
    font-size: 25px;
}

.li {
    font-size: 10px;
}

footer {
    text-align: center;
}

footer p {
    text-align: center;
    color: rgb(175, 97, 24);
}